//
// Color
// --------------------------------------------------
$theme-main-color: #FA5D00;
$theme-secondary-color: #111111;

$body-background-color: #FFFFFF;
$header-background-color: #000000;
$footer-background-color: #191818;

$text-color: #808080;

$link-color: #FA5D00;
$link-hover-color: #111111;