//
// Layout
// Styles for main layout
// --------------------------------------------------
body {
  background-color: $body-background-color;
  #header {
    background-color: $header-background-color;
    margin-bottom: 18px;
  }
  #main-wrapper {
    padding-bottom: 50px;
    #main {
      #content {
        min-height: 500px;
      }
    }
  }
  #footer {
    background-color: $footer-background-color;
    color: #BBBBBB;
    padding: 50px 0;
  }
}

@media (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 979px) { 
  body {
    #header {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
}

@media (max-width: 767px) {
  body {
    #header {
      margin-left: -20px;
      margin-right: -20px;
      > .container {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    #main-wrapper {
      margin-left: -20px;
      margin-right: -20px;
      #main {
        > #content {
          > #page-header {
            padding-left: 20px;
            padding-right: 20px;
          }
          > .panel-display {
            > .container {
              padding-left: 20px;
              padding-right: 20px;
            }
          }
        }
      }
    }
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      > .container {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}