// @file
// SASS partials import
// --------------------------------------------------
@import "compass";

// Mixins and Variables
// --------------------------------------------------
@import "variable";
@import "contrib";
@import "mixin";

// Radix
// --------------------------------------------------
// @import "compass_radix";
// @import "compass_radix_responsive";

// Theme CSS
// --------------------------------------------------
@import "font";
@import "layout";
@import "structure";
@import "menu";
@import "navbar";
@import "page";
@import "panel";
@import "view";
@import "form";
@import "comment";
@import "node";
@import "user";

// My edits
// --------------------------------------------------
@import "compass/typography/text/replacement";
@import "compass/css3/opacity";
@import "compass/css3/transform";
@import "sassy-buttons";

$branding-color: $orange;

body {
  background-image: image-url('globen-background.jpg');
  background-repeat: no-repeat;
  background-position: left 95%;
}

#logo {
  @include replace-text-with-dimensions("../../logo.png");
}

.widemessage .panel-panel-inner {
  margin-top: 1em;
}

#main-menu {
  @media (min-width: 960px) {
    margin-top: 28px;
  }
}

@mixin box-slant-frontpage($direction: "right") {
  @include opacity(0.8);
  width:300px;
  background:#000;
  position:relative;
  margin:0px 0 20px;
  color:#fff;
  font-weight:bold;
  font-size:140%;
  @if $direction == "right" {
    left: 10px;
  }

  &:after {
    @if $direction == "left" {
      border-right: 300px dotted transparent;
      border-bottom: 28px solid black;
    } @else {
      border-left: 300px dotted transparent;
      border-bottom: 28px solid black;
    }
    content: " ";
    height: 0;
    overflow: hidden;
    position: absolute;
    top: -28px;
    width: 0;
  }
  // Internal element.
  h3 {
    margin:0;
    padding:0 0 0 10px;
    position:relative;
    z-index:2;
    top:-10px;
    font-size: 1.5em;
    @include opacity(1);
    @if $direction == "right" {
      float: right;
      padding-right: 1em;
    } @else {
      padding-left: 1em;
    }
  }
}

body #header {
  background-color: $branding-color !important;

  .navbar-inner {
    background-color: $branding-color !important;

    .container {
      background-color: $branding-color !important;
    }
  }
}

.frontpage-subjects {
  margin-top: 40px;

  .views-row-odd { 
    @include box-slant-frontpage("left");
  }

  .views-row-even {
    @include box-slant-frontpage("right"); 
  }
}

.vies-slanted-box {
  margin-top: 8%;
  position: relative;

  .pane-title {
    z-index: 100;
    position: absolute;
    top: 60%;
    right: 1px;
    background: black;
    @include opacity(0.8);
    padding: 0 1em 0.6em;
    width: 175px;
  }
  .pane-title:after {
    border-bottom: 24px solid black;
    border-right: 210px dotted transparent;
    content: " ";
    height: 0;
    overflow: hidden;
    position: absolute;
    top: -24px;
    width: 0;
    left: 0;
  }
}

// VIH Plugins

.quote {
  border: 2px solid #ddd;
  padding: 2em;
  @include border-radius(10px);
  margin-bottom: 1em;

  img {
    float: left;
    margin-right: 20px;
    vertical-align: center;
  }
  .caption {
    padding-top: 1em;
    padding-right: 30px;
    background: image-url("blockquote.png") top right no-repeat;
  }
}

// Action links
ul.action-links, div.btn-links ul {
  @include clearfix;
  padding: 0 !important;
  list-style-type: none !important;
  overflow: hidden;
  margin-left: 0 !important;
  margin-bottom: 1em;

  li, li.first {
    margin-left: 0 !important;
    float: left;
    margin-right: 1em;
    list-style-type: none !important;
  }

  li a {
    @include sassy-button("matte", 5px, 16px, $branding-color, darken($branding-color, 8%), white, "inset");
    text-decoration: none;
  }
}

.alternate {
  background: #cbcbcb;
  @include border-radius(8px);
  @include clearfix;
  margin-bottom: 1em;
  padding: 1em;
}

.view-panopoly-widgets-general-content .node-vies-hall-of-fame {
  @include clearfix;

  h2 {
    display: none;
  }

  .field-name-field-featured-image {
    float: left;
    margin-right: 1em;
  }

  .field-name-field-quote {
    padding-top: 1em;
  }

  ul.links.inline {
    display: none;
  }
}
cite {
  text-align: right;
  display: block;
  margin-top: 1em;
  color: grey;
}
