// @file
// SASS partials import
// --------------------------------------------------
@import "compass";

// Mixins and Variables
// --------------------------------------------------
@import "variable";
@import "contrib";
@import "mixin";

// Radix
// --------------------------------------------------
@import "compass_radix";
@import "compass_radix_responsive";

// Theme CSS
// --------------------------------------------------
@import "font";
@import "layout";
@import "structure";
@import "menu";
@import "navbar";
@import "page";
@import "panel";
@import "view";
@import "form";
@import "comment";
@import "node";
@import "user";

// My edits
// --------------------------------------------------
@import "compass/typography/text/replacement";
@import "compass/css3/opacity";
@import "compass/css3/transform";

$branding-color: $orange;

#logo {
  @include replace-text-with-dimensions("../../logo.png");
}

#main-menu {
  @media (min-width: 960px) {
    margin-top: 28px;
  } 
}

@mixin box-slant-frontpage($direction: "right") {
  @include opacity(0.8);
  width:300px;
  background:#000;
  position:relative;
  margin:0px 0 20px;
  color:#fff;
  font-weight:bold;
  font-size:140%;
  @if $direction == "right" {
    left: 10px;
  }
  
  &:after {
    @if $direction == "left" {
      border-right: 300px dotted transparent;
      border-bottom: 28px solid black;
    } @else {
      border-left: 300px dotted transparent;
      border-bottom: 28px solid black;
    }
    content: " ";
    height: 0;
    overflow: hidden;
    position: absolute;
    top: -28px;
    width: 0;
  }
  // Internal element.
  h3 {
    margin:0;
    padding:0 0 0 10px;
    position:relative;
    z-index:2;
    top:-10px;
    font-size: 1.5em;
    @include opacity(1);
    @if $direction == "right" {
      float: right;
      padding-right: 1em;
    } @else {
      padding-left: 1em;
    }
  }
}

body #header {
  background-color: $branding-color !important;
  
  .navbar-inner {
    background-color: $branding-color !important;
    
    .container {
      background-color: $branding-color !important;
    }
  }
}

.frontpage-subjects {
  margin-top: 40px;
  
  .views-row-odd { 
    @include box-slant-frontpage("left");
  }
  
  .views-row-even {
    @include box-slant-frontpage("right"); 
  }
}

.vies-slanted-box {
  margin-top: 8%;
  position: relative;

  .pane-title {
    z-index: 100;
    position: absolute;
    top: 60%;
    right: 1px;
    background: black;
    @include opacity(0.8);
    padding: 0 1em 0.6em;
    width: 175px;
  }
  .pane-title:after {
    border-bottom: 24px solid black;
    border-right: 210px dotted transparent;
    content: " ";
    height: 0;
    overflow: hidden;
    position: absolute;
    top: -24px;
    width: 0;
    left: 0;
  }
}

