//
// SASS Mixins
// --------------------------------------------------
//
// Styleguide 3

// Mixin for Box Slant on Frontpage
//
// $direction - Can either be 'right' or 'left'
//
// Styleguide 3.1
@mixin box-slant-frontpage($direction: "right") {
  @include opacity(0.8);
  width:300px;
  background:#000;
  position:relative;
  margin:0px 0 20px;
  color:#fff;
  font-weight:bold;
  font-size:140%;
  padding-left: 0;
  padding-right: 0;
  @if $direction == "right" {
    left: 10px;
  }

  &:after {
    @if $direction == "left" {
      border-right: 300px dotted transparent;
      border-bottom: 28px solid black;
    } @else {
      border-left: 300px dotted transparent;
      border-bottom: 28px solid black;
    }
    content: " ";
    height: 0;
    overflow: hidden;
    position: absolute;
    top: -28px;
    width: 0;
  }
  // Internal element.
  h3 {
    margin:0;
    padding:0 0 0 10px;
    position:relative;
    z-index:2;
    top:-10px;
    font-size: 1.5em;
    line-height: 40px;
    @include opacity(1);
    @if $direction == "right" {
      float: right;
      padding-right: 1em;
    } @else {
      padding-left: 1em;
    }
    a {
      font-weight: bold;
    }
  }
}
