@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
/* line 7, ../sass/_font.scss */
body {
  color: gray;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }
  /* line 11, ../sass/_font.scss */
  body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #333333;
    font-family: 'Ubuntu', sans-serif; }
  /* line 15, ../sass/_font.scss */
  body h2 {
    line-height: 35px; }
  /* line 18, ../sass/_font.scss */
  body a {
    color: #fa5d00; }
    /* line 20, ../sass/_font.scss */
    body a:hover {
      color: #111111;
      text-decoration: none; }

/* line 5, ../sass/_layout.scss */
body {
  background-color: white; }
  /* line 7, ../sass/_layout.scss */
  body #header {
    background-color: black;
    margin-bottom: 18px; }
  /* line 11, ../sass/_layout.scss */
  body #main-wrapper {
    padding-bottom: 50px; }
    /* line 14, ../sass/_layout.scss */
    body #main-wrapper #main #content {
      min-height: 500px; }
  /* line 19, ../sass/_layout.scss */
  body #footer {
    background-color: #191818;
    color: #BBBBBB;
    padding: 50px 0; }

@media (min-width: 768px) and (max-width: 979px) {
  /* line 32, ../sass/_layout.scss */
  body #header {
    margin-left: -20px;
    margin-right: -20px; } }
@media (max-width: 767px) {
  /* line 41, ../sass/_layout.scss */
  body #header {
    margin-left: -20px;
    margin-right: -20px; }
    /* line 44, ../sass/_layout.scss */
    body #header > .container {
      padding-left: 20px;
      padding-right: 20px; }
  /* line 49, ../sass/_layout.scss */
  body #main-wrapper {
    margin-left: -20px;
    margin-right: -20px; }
    /* line 54, ../sass/_layout.scss */
    body #main-wrapper #main > #content > #page-header {
      padding-left: 20px;
      padding-right: 20px; }
    /* line 59, ../sass/_layout.scss */
    body #main-wrapper #main > #content > .panel-display > .container {
      padding-left: 20px;
      padding-right: 20px; }
  /* line 67, ../sass/_layout.scss */
  body #footer {
    margin-left: -20px;
    margin-right: -20px; }
    /* line 70, ../sass/_layout.scss */
    body #footer > .container {
      padding-left: 20px;
      padding-right: 20px; } }
/* line 8, ../sass/_structure.scss */
#breadcrumb {
  display: none; }
  /* line 10, ../sass/_structure.scss */
  #breadcrumb .breadcrumb {
    padding: 0;
    background: none; }

/* line 19, ../sass/_structure.scss */
#page-header .page-header {
  border-bottom: 1px dashed #eee;
  text-align: center;
  padding: 12px 0 18px;
  margin-bottom: 18px; }
  /* line 24, ../sass/_structure.scss */
  #page-header .page-header h1 {
    font-size: 2.0em;
    line-height: 100%; }

@media (min-width: 1200px) {
  /* line 33, ../sass/_structure.scss */
  #page-header .page-header {
    padding: 50px 0 40px;
    margin-bottom: 40px; }
    /* line 36, ../sass/_structure.scss */
    #page-header .page-header h1 {
      font-size: 3.2em; } }
/* line 45, ../sass/_structure.scss */
.field-slideshow-wrapper {
  background: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding: 0; }

/* line 54, ../sass/_structure.scss */
.pane-tagline {
  margin-bottom: 50px;
  text-align: center; }
  /* line 57, ../sass/_structure.scss */
  .pane-tagline h3 {
    color: #909090; }

/* line 65, ../sass/_structure.scss */
.section .section-image {
  color: #111111;
  text-align: center; }
  /* line 68, ../sass/_structure.scss */
  .section .section-image a {
    background-color: #fa5d00;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    display: block;
    color: #FFFFFF;
    padding: 30px 0;
    text-decoration: none; }
    /* line 75, ../sass/_structure.scss */
    .section .section-image a:hover {
      background-color: #111111; }
  /* line 79, ../sass/_structure.scss */
  .section .section-image i {
    font-size: 150px;
    height: auto;
    line-height: 100%;
    margin: 0 auto;
    width: auto; }
/* line 87, ../sass/_structure.scss */
.section .section-description {
  text-align: center; }

/* line 8, ../sass/_menu.scss */
#navigation .btn-navbar {
  background: #fa5d00;
  color: #FFFFFF;
  height: 20px;
  padding: 5px 10px;
  text-shadow: none;
  width: 20px; }
  /* line 15, ../sass/_menu.scss */
  #navigation .btn-navbar:hover {
    color: #111111;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    /* line 18, ../sass/_menu.scss */
    #navigation .btn-navbar:hover span {
      color: #111111; }
      /* line 20, ../sass/_menu.scss */
      #navigation .btn-navbar:hover span.icon-bar {
        background: #111111; }
/* line 26, ../sass/_menu.scss */
#navigation .btn-navbar-menu {
  padding: 8px 10px 3px; }
/* line 29, ../sass/_menu.scss */
#navigation .navbar-inner {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 0; }
  /* line 34, ../sass/_menu.scss */
  #navigation .navbar-inner .brand {
    color: #FFFFFF;
    font-size: 2.0em;
    padding: 14px 20px;
    text-shadow: none; }
  /* line 40, ../sass/_menu.scss */
  #navigation .navbar-inner #main-menu {
    margin-left: 100px; }
    /* line 44, ../sass/_menu.scss */
    #navigation .navbar-inner #main-menu ul li a {
      color: #FFFFFF;
      font-size: 1.2em;
      line-height: 160%;
      padding: 11px 15px 10px;
      text-shadow: none;
      text-transform: uppercase; }
      /* line 51, ../sass/_menu.scss */
      #navigation .navbar-inner #main-menu ul li a.active, #navigation .navbar-inner #main-menu ul li a:hover {
        background: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color: #fa5d00; }
    /* line 58, ../sass/_menu.scss */
    #navigation .navbar-inner #main-menu ul li.activet-trail a {
      background: none; }

@media (max-width: 767px) {
  /* line 71, ../sass/_menu.scss */
  #navigation .navbar-inner .brand {
    font-size: 1.2em; }
  /* line 74, ../sass/_menu.scss */
  #navigation .navbar-inner #main-menu {
    margin-left: 0; }
    /* line 78, ../sass/_menu.scss */
    #navigation .navbar-inner #main-menu ul li a {
      background: none;
      text-align: center; }
      /* line 81, ../sass/_menu.scss */
      #navigation .navbar-inner #main-menu ul li a:hover {
        background: none; } }
/* line 95, ../sass/_menu.scss */
#footer a {
  color: #BBBBBB; }
  /* line 97, ../sass/_menu.scss */
  #footer a:hover {
    color: #FFFFFF; }
/* line 103, ../sass/_menu.scss */
#footer .container > .row h4 {
  color: #666666;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 1px!important;
  font-size: 11px;
  line-height: 21px;
  margin-bottom: 2px;
  text-align: center; }
/* line 113, ../sass/_menu.scss */
#footer .container > .row h3 {
  color: #BBBBBB;
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  text-align: center; }
  /* line 119, ../sass/_menu.scss */
  #footer .container > .row h3 a {
    text-decoration: none; }
    /* line 121, ../sass/_menu.scss */
    #footer .container > .row h3 a i {
      display: block;
      font-size: 3.0em;
      height: auto;
      line-height: 100%;
      margin: 7px auto;
      text-align: center;
      width: auto; }

/* line 7, ../sass/_page.scss */
#front-page {
  margin-top: -18px; }
  /* line 11, ../sass/_page.scss */
  #front-page .header .field-slideshow-wrapper .field-slideshow-caption {
    background: none;
    bottom: inherit;
    top: 38%; }
    /* line 15, ../sass/_page.scss */
    #front-page .header .field-slideshow-wrapper .field-slideshow-caption .field-slideshow-caption-text {
      padding: 0 100px;
      text-align: center;
      color: #FFFFFF;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
      /* line 20, ../sass/_page.scss */
      #front-page .header .field-slideshow-wrapper .field-slideshow-caption .field-slideshow-caption-text h2 {
        font-size: 4.0em;
        color: #FFFFFF; }
      /* line 24, ../sass/_page.scss */
      #front-page .header .field-slideshow-wrapper .field-slideshow-caption .field-slideshow-caption-text p {
        font-size: 3.0em;
        line-height: 120%; }
  /* line 32, ../sass/_page.scss */
  #front-page .content {
    padding: 50px 0; }

@media (max-width: 767px) {
  /* line 43, ../sass/_page.scss */
  #front-page .header .field-slideshow-wrapper .field-slideshow-caption .field-slideshow-caption-text h2 {
    font-size: 2.0em; }
  /* line 46, ../sass/_page.scss */
  #front-page .header .field-slideshow-wrapper .field-slideshow-caption .field-slideshow-caption-text p {
    display: none; } }
/* line 9, ../sass/_panel.scss */
.panel-display > .container > .row-fluid > .sidebar > .panel-panel-inner > .panel-pane {
  margin-bottom: 28px; }

/* line 11, ../sass/_view.scss */
.view-menu-categories.view-display-id-menu_categories .view-content .views-row {
  text-align: center;
  margin-bottom: 30px; }
  /* line 15, ../sass/_view.scss */
  .view-menu-categories.view-display-id-menu_categories .view-content .views-row .views-field-field-menu-categories-images .thumbnail {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    overflow: hidden;
    padding: 0; }

/* line 7, ../sass/_form.scss */
form input.form-text,
form textarea.form-textarea {
  padding: 10px;
  font-size: 1.2em; }
/* line 11, ../sass/_form.scss */
form .form-actions {
  background: none;
  border: none;
  padding: 0;
  margin: 18px 0; }

/* line 19, ../sass/_form.scss */
.btn {
  display: inline-block;
  background: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-shadow: none;
  padding: 15px 25px;
  margin: 0px 12px 0px 0px;
  display: inline-block;
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  color: #fff; }

/* line 32, ../sass/_form.scss */
.btn-primary {
  background: #fa5d00; }

/* line 35, ../sass/_form.scss */
.btn:hover {
  background: #111111;
  -webkit-box-shadow: 1px 1px #d8d8d8;
  -moz-box-shadow: 1px 1px #d8d8d8;
  box-shadow: 1px 1px #d8d8d8;
  color: #fff; }

/* line 42, ../sass/_form.scss */
.btn:active {
  background: #2A69EF;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #327aef), color-stop(100%, #2e76eb));
  background: -moz-linear-gradient(center top, #327aef 0%, #2e76eb 100%);
  -webkit-box-shadow: 1px 1px 3px 0px #0066cc inset;
  -moz-box-shadow: 1px 1px 3px 0px #0066cc inset;
  box-shadow: 1px 1px 3px 0px #0066cc inset;
  text-shadow: 1px 1px 0px #001AA6;
  border-color: #444444; }

/* line 55, ../sass/_form.scss */
.search-form {
  border: none;
  padding: 0; }
  /* line 58, ../sass/_form.scss */
  .search-form .form-text {
    padding: 4px 9px;
    font-size: 1.0em; }

/* line 4, ../sass/_comment.scss */
.pane-node-comments {
  margin-top: 30px; }

/* line 7, ../sass/_comment.scss */
.comment {
  border-top: 1px dashed #eee;
  margin-top: 18px;
  padding-top: 18px;
  position: relative; }
  /* line 12, ../sass/_comment.scss */
  .comment h3 {
    margin-bottom: 5px;
    margin-top: 0; }
  /* line 16, ../sass/_comment.scss */
  .comment .submitted {
    margin-bottom: 18px;
    margin-top: -5px;
    font-style: italic; }
    /* line 20, ../sass/_comment.scss */
    .comment .submitted .permalink {
      position: absolute;
      right: 0;
      top: 24px; }

/* line 28, ../sass/_comment.scss */
.pane-node-comment-form {
  margin-top: 18px;
  padding-top: 18px; }
  /* line 31, ../sass/_comment.scss */
  .pane-node-comment-form .pane-title {
    border-bottom: 1px dashed #eee;
    margin-bottom: 18px;
    padding-bottom: 18px; }

/* line 6, ../sass/_node.scss */
.field.field-type-image .field-item {
  border: none;
  padding: 0;
  overflow: hidden; }

/* line 18, ../sass/_node.scss */
.pane-node-field-menu-types .field .field-items {
  overflow: hidden;
  *zoom: 1;
  margin: 0 0 0 -10px; }
  /* line 21, ../sass/_node.scss */
  .pane-node-field-menu-types .field .field-items .field-item {
    float: left;
    font-size: 0.95em;
    margin: 0 0 0 10px; }

@media (max-width: 767px) {
  /* line 34, ../sass/_node.scss */
  .node-menu.node-teaser .panel-pane, .node-menu.node-featured .panel-pane {
    margin: 0 0 0 140px; }
  /* line 37, ../sass/_node.scss */
  .node-menu.node-teaser .pane-node-field-menu-images, .node-menu.node-featured .pane-node-field-menu-images {
    float: left;
    margin: 0;
    width: 120px; }
  /* line 45, ../sass/_node.scss */
  .node-menu.node-teaser .pane-node-title {
    font-size: 1.5em;
    line-height: 100%;
    margin-bottom: 10px; }
  /* line 53, ../sass/_node.scss */
  .node-menu.node-featured .span4 {
    float: left;
    margin: 0;
    width: 120px; } }
/* line 64, ../sass/_node.scss */
.pane-node-field-blog-post-tags {
  float: left; }

/* line 67, ../sass/_node.scss */
.pane-node-field-blog-post-categories {
  float: right; }

/* line 74, ../sass/_node.scss */
.pane-node-field-blog-post-tags .field .field-items .field-item,
.pane-node-field-blog-post-categories .field .field-items .field-item {
  display: inline;
  margin: 0 5px; }

/* line 86, ../sass/_node.scss */
#blog-node > .container > .row-fluid > .content .pane-entity-field {
  margin-bottom: 10px; }

/* line 95, ../sass/_node.scss */
.node-blog-post.node-teaser {
  border-bottom: 1px dashed #eee;
  margin-bottom: 18px !important;
  padding-bottom: 18px !important; }
  /* line 99, ../sass/_node.scss */
  .node-blog-post.node-teaser > h2 {
    margin-bottom: 18px; }
  /* line 102, ../sass/_node.scss */
  .node-blog-post.node-teaser .pane-entity-field {
    margin-bottom: 10px; }
  /* line 105, ../sass/_node.scss */
  .node-blog-post.node-teaser .pane-node-links {
    clear: both; }
/* line 110, ../sass/_node.scss */
.node-blog-post.node-featured {
  border-bottom: 1px dashed #eee;
  margin-bottom: 18px !important;
  padding-bottom: 18px !important; }
  /* line 114, ../sass/_node.scss */
  .node-blog-post.node-featured .pane-entity-field {
    margin-bottom: 5px; }
  /* line 118, ../sass/_node.scss */
  .node-blog-post.node-featured .pane-node-title .pane-content {
    margin-bottom: 5px; }

/* line 131, ../sass/_node.scss */
#event-node > .container > .row-fluid > .content .pane-entity-field {
  margin-bottom: 10px; }

/* line 140, ../sass/_node.scss */
.node-event.node-teaser {
  border-bottom: 1px dashed #eee;
  margin-bottom: 18px !important;
  padding-bottom: 18px !important; }
  /* line 144, ../sass/_node.scss */
  .node-event.node-teaser > h2 {
    margin-bottom: 18px; }
  /* line 147, ../sass/_node.scss */
  .node-event.node-teaser .pane-entity-field {
    margin-bottom: 10px; }
  /* line 150, ../sass/_node.scss */
  .node-event.node-teaser .pane-node-links {
    clear: both; }
/* line 155, ../sass/_node.scss */
.node-event.node-featured {
  border-bottom: 1px dashed #eee;
  margin-bottom: 18px !important;
  padding-bottom: 18px !important; }
  /* line 159, ../sass/_node.scss */
  .node-event.node-featured .pane-entity-field {
    margin-bottom: 5px; }
  /* line 163, ../sass/_node.scss */
  .node-event.node-featured .pane-node-title .pane-content {
    margin-bottom: 5px; }
