body {
  background-image: url('../images/globen-background.jpg?1392199854');
  background-repeat: no-repeat;
  background-position: left bottom;
}

#logo {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../images/../../logo.png?1382559570');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 124px;
  height: 47px;
}

.widemessage .panel-panel-inner {
  margin-top: 1em;
}

@media (min-width: 960px) {
  #main-menu {
    margin-top: 28px;
  }
}

body #header {
  background-color: #f89406 !important;
}
body #header .navbar-inner {
  background-color: #f89406 !important;
}
body #header .navbar-inner .container {
  background-color: #f89406 !important;
}

.frontpage-subjects {
  margin-top: 40px;
}
.frontpage-subjects .views-row-odd {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  width: 300px;
  background: #000;
  position: relative;
  margin: 0px 0 20px;
  color: #fff;
  font-weight: bold;
  font-size: 140%;
}
.frontpage-subjects .views-row-odd:after {
  border-right: 300px dotted transparent;
  border-bottom: 28px solid black;
  content: " ";
  height: 0;
  overflow: hidden;
  position: absolute;
  top: -28px;
  width: 0;
}
.frontpage-subjects .views-row-odd h3 {
  margin: 0;
  padding: 0 0 0 10px;
  position: relative;
  z-index: 2;
  top: -10px;
  font-size: 1.5em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  padding-left: 1em;
}
.frontpage-subjects .views-row-even {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  width: 300px;
  background: #000;
  position: relative;
  margin: 0px 0 20px;
  color: #fff;
  font-weight: bold;
  font-size: 140%;
  left: 10px;
}
.frontpage-subjects .views-row-even:after {
  border-left: 300px dotted transparent;
  border-bottom: 28px solid black;
  content: " ";
  height: 0;
  overflow: hidden;
  position: absolute;
  top: -28px;
  width: 0;
}
.frontpage-subjects .views-row-even h3 {
  margin: 0;
  padding: 0 0 0 10px;
  position: relative;
  z-index: 2;
  top: -10px;
  font-size: 1.5em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  float: right;
  padding-right: 1em;
}

.vies-slanted-box {
  margin-top: 8%;
  position: relative;
}
.vies-slanted-box .pane-title {
  z-index: 100;
  position: absolute;
  top: 60%;
  right: 1px;
  background: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  padding: 0 1em 0.6em;
  width: 175px;
}
.vies-slanted-box .pane-title:after {
  border-bottom: 24px solid black;
  border-right: 210px dotted transparent;
  content: " ";
  height: 0;
  overflow: hidden;
  position: absolute;
  top: -24px;
  width: 0;
  left: 0;
}
