// VIES Specific additions
//
// Styleguide VIES

$branding-color: $orange;

body {
  background-image: image-url('globen-background.jpg');
  background-position: left 95%;
  background-repeat: no-repeat;
}

// scss-lint:disable IdSelector DeclarationOrder
.header {
  background-color: $orange;

  // TODO FIXME We need a gradient here.
  @include background-image(linear-gradient($orange, darken($orange, 10%)));
}

// scss-lint:disable ImportantRule IdSelector
#logo {
  background-image: url('/sites/all/themes/ketsjup/logo.png?1425961146');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-sizing: content-box;
  color: transparent !important;
  height: 47px;
  overflow: hidden;
  text-align: left;
  text-indent: -119988px;
  width: 124px;
}

.widemessage .panel-panel-inner {
  margin-top: 1em;
}

#main-menu {
  @media (min-width: $screen-md-min) {
    margin-top: 28px;
  }
}

// Frontpage subjects
//
// Markup:
// <div class="view view-vies-subjects view-id-vies_subjects view-display-id-panel_pane_2 frontpage-subjects">
//   <div class="view-content">
//     <div class="views-row views-row-1 views-row-odd views-row-first col-md-6">
//       <div class="views-field views-field-title">
//         <h3 class="field-content"><a href="#">Fodbold <i class="fa fa-arrow-circle-right"></i></a></h3>
//       </div>
//     </div>
//   </div>
//   <div class="view-content">
//     <div class="views-row views-row-1 views-row-even views-row-first col-md-6">
//       <div class="views-field views-field-title">
//         <h3 class="field-content"><a href="#">Fodbold <i class="fa fa-arrow-circle-right"></i></a></h3>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide VIES - Frontpage subjects
.frontpage-subjects {
  margin-top: 40px;

  .views-row-odd {
    @include box-slant-frontpage('left');
  }

  .views-row-even {
    @include box-slant-frontpage('right');
  }
}

// Slanted image box
//
// Markup:
// <div class="panel-panel-inner">
//   <div class="panel-pane pane-fieldable-panels-pane pane-uuid-4359cd38-9b79-4a5d-b294-8a5cb1b1e88c vies-slanted-box pane-bundle-image">
//     <h2 class="pane-title">
//       <a href="">Billeder og video</a>
//     </h2>
//     <div class="pane-content">
//     <div class="fieldable-panels-pane">
//       <div class="field field-name-field-basic-image-image field-type-image field-label-hidden">
//         <div class="field-items">
//           <div class="field-item even">
//             <img class="panopoly-image-full" src="https://vies.dk/sites/vies.local/files/styles/panopoly_image_full/public/general/1344282362prrd_0.jpg?itok=X39jbt-q" alt="BIlleder og video fra Vejle Idrætsefterskole" />
//           </div>
//         </div>
//       </div>
//       <div class="field field-name-field-basic-image-caption field-type-text-with-summary field-label-hidden">
//         <div class="field-items">
//           <div class="field-item even">
//             <p><a href="/billeder">BIlleder og video fra Vejle Idrætsefterskole</a></p>
//           </div>
//         </div>
//       </div>
//     </div>
//   </div>
// </div>
//
// Styleguide VIES - Slanted image box
.vies-slanted-box {
  margin-top: 8%;
  overflow: hidden;
  position: relative;

  .pane-title {
    @include opacity(.8);
    background: $black;
    padding: 0 1em .6em;
    position: absolute;
    right: 1px;
    top: 60%;
    width: 175px;
    z-index: 100;
  }

  .pane-title::after {
    border-bottom: 24px solid $black;
    border-right: 210px dotted transparent;
    content: ' ';
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -24px;
    width: 0;
  }
}

// VIH Plugins

.quote {
  @include border-radius(10px);
  border: 2px solid $gray-light;
  margin-bottom: 1em;
  padding: 2em;

  img {
    float: left;
    margin-right: 20px;
    vertical-align: center;
  }

  .caption {
    background: image-url('blockquote.png') top right no-repeat;
    padding-right: 30px;
    padding-top: 1em;
  }
}

// Action links
//
// scss-lint:disable ImportantRule
.action-links,
.btn-links ul {
  @include clearfix;
  list-style-type: none !important;
  margin-bottom: 1em;
  margin-left: 0 !important;
  overflow: hidden;
  padding: 0 !important;

  // scss-lint:disable QualifyingElement
  li,
  li.first {
    float: left;
    list-style-type: none !important;
    margin-left: 0 !important;
    margin-right: 1em;
  }

  // scss-lint:disable SelectorDepth
  li a {
    @include sassy-button("matte", 5px, 16px, $branding-color, darken($branding-color, 8%), 4white, 'inset');
    text-decoration: none;
  }
}

.alternate {
  @include border-radius(8px);
  @include clearfix;
  background: $gray-light;
  margin-bottom: 1em;
  padding: 1em;
}

.view-panopoly-widgets-general-content .node-vies-hall-of-fame {
  @include clearfix;

  h2 {
    display: none;
  }

  .field-name-field-featured-image {
    float: left;
    margin-right: 1em;
  }

  .field-name-field-quote {
    padding-top: 1em;
  }

  .links.inline {
    display: none;
  }
}

cite {
  color: $gray;
  display: block;
  margin-top: 1em;
  text-align: right;
}

// scss-lint:disable ImportantRule
.media {
  display: table;
  margin-bottom: 1em !important;
  margin-top: 1em !important;

  img {
    min-width: 150px !important;
  }
}


.media-body {
  display: table-cell;
  vertical-align: middle;
}

// scss-lint:disable ImportantRule SelectorFormat
.front .views_slideshow_singleframe_teaser_section {
  width: 100% !important;
}

// Fix for IE and restricted images.
.field .panopoly-image-full,
.field .panopoly-image-half,
.field .panopoly-image-quarter {
  width: 100%;
}

// scss-lint:disable IdSelector
#page-header {
  .page-header {
    border-bottom: 1px dashed $gray-lighter;
    margin-bottom: 18px;
    padding: 12px 0 18px;
    text-align: center;

    h1 {
      font-size: 2em;
      font-weight: bold;
      line-height: 100%;
    }
  }
}


#footer {
  background-color: $black;
  color: $gray-light;
  margin-bottom: 0;
  margin-top: 50px;
  padding: 50px 0;

  .footer-links {
    h4 {
      color: $gray;
      font-size: 11px;
      letter-spacing: 1px;
      line-height: 21px;
      margin-bottom: 2px;
      padding-left: 1px !important;
      text-align: center;
      text-transform: uppercase;
    }

    h3 {
      color: $gray-light;
      font-size: 18px;
      line-height: 21px;
      margin-top: 0;
      text-align: center;

      // scss-lint:disable SelectorDepth NestingDepth
      a {
        color: $gray-light;
        text-decoration: none;

        &:hover {
          color: $white;
        }

        i {
          display: block;
          font-size: 3em;
          height: auto;
          line-height: 100%;
          margin: 7px auto;
          text-align: center;
          width: auto;
        }
      }
    }
  }
}

// scss-lint:disable IdSelector NestingDepth
#navigation {
  border: 0;
  margin-bottom: 20px;
  margin-top: 20px;

  .btn-navbar {
    background: $link-color;
    color: $white;
    font-size: 24px;
    padding: 0;
    text-shadow: none;
    width: 36px;

    &:hover {
      @include box-shadow(none);
      color: $navbar-inverse-bg;

      span {
        color: $navbar-inverse-bg;

        &.icon-bar {
          background: $navbar-inverse-bg;
        }
      }
    }
  }

  .navbar-inner {
    @include box-shadow(none);
    border: 0;
    padding: 0;

    .brand {
      color: $white;
      font-size: 2em;
      padding: 14px 20px;
      text-shadow: none;
    }

    // scss-lint:disable IdSelector SelectorDepth NestingDepth
    #main-menu {
      li {
        &:hover a {
          color: $link-color;
        }

        a {
          background: none;
          color: $white;
          font-size: 1.2em;
          line-height: 160%;
          padding: 11px 15px 10px;
          text-shadow: none;
          text-transform: uppercase;

          &.active,
          &:hover {
            @include box-shadow(none);
            background: none;
            color: $link-color;
          }
        }

        &.active-trail {
          a {
            @include box-shadow(none);
            background: none;
          }
        }

        .caret {
          border-width: 6px;
          margin-left: 4px;
        }
      }
    }

    // scss-lint:disable SelectorDepth NestingDepth
    .dropdown-menu {
      border-radius: 6px;

      &::before {
        border-bottom: 7px solid $gray-lighter;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        content: '';
        display: inline-block;
        left: 9px;
        position: absolute;
        top: -7px;
      }

      &::after {
        border-bottom: 6px solid $white;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        content: '';
        display: inline-block;
        left: 10px;
        position: absolute;
        top: -6px;
      }

      // scss-lint:disable ImportantRule
      a {
        color: $link-color !important;

        &.active,
        &:hover {
          color: $link-hover-color;
        }
      }
    }
  }
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  background: $orange;
}

#desk-search-toggle {
  display: none;
}

// scss-lint:disable ImportantRule
.navbar-form {
  box-shadow: none !important;
}

.field {
  .panopoly-image-full,
  .panopoly-image-half,
  .panopoly-image-quarter {
    max-width: 100%;
  }
}

.btn-primary {
  background-color: $link-color;
  border-color: $link-color;
  font-weight: bold;
  padding: 10px 20px;
  text-transform: uppercase;

  &:hover {
    background-color: $link-hover-color;
  }
}

@media (max-width: $screen-sm-max) {

  // scss-lint:disable IdSelector
  #logo {
    float: none !important;
  }

  // scss-lint:disable NestingDepth IdSelector SelectorDepth
  body {
    #main-wrapper {
      #main {
        > #content {
          > #page-header {
            padding-left: 20px;
            padding-right: 20px;
          }
        }
      }
    }
  }

  // scss-lint:disable IdSelector
  #navigation {
    .nav-menu-collapse,
    .nav-search-collapse {
      clear: both;
      display: none;
    }

    .btn-navbar {
      float: right;
      margin-left: 10px;
    }

    .navbar-inner {
      .brand {
        font-size: 1.2em;
      }

      // scss-lint:disable IdSelector SelectorDepth NestingDepth ImportantRule
      #main-menu {
        float: none !important;
        margin-left: 0;
        text-align: center;

        ul {
          li {
            a {
              background: none;
              text-align: center;

              &:hover {
                background: none;
              }
            }
          }
        }

        .dropdown-menu {
          &::before,
          &::after {
            display: none !important;
          }
        }
      }
    }
  }
}

@media(min-width: $screen-md-min) {
  // scss-lint:disable ImportantRule
  .navbar-right {
    background: darken($orange, 10%);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: none;
    margin: 0 !important;
    padding: 5px;
  }

  // scss-lint:disable IdSelector
  #desk-search-toggle {
    bottom: 0;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    padding: 10px 0 11px;
    position: absolute;
    right: 0;
    text-decoration: none;
  }

  // scss-lint:disable ImportantRule
  .nav-menu-collapse,
  .nav-search-collapse {
    display: block !important;
  }

  .node-type-panopoly-news-article {
    .pane-node-field-featured-image {
      float: right;
      max-width: 50%;
    }
  }
}

@media (min-width: $screen-lg-min) {
  // scss-lint:disable IdSelector
  #page-header {
    .page-header {
      margin-bottom: 40px;
      padding: 50px 0 40px;

      h1 {
        font-size: 3.2em;
      }
    }
  }
}
