// Styles for Menus and Navs
// --------------------------------------------------

.menu-block-wrapper .ul.menu ul.dropdown-menu {
  margin: 0;
  left: 0;
  right: 0;
}
#navigation .navbar-inner #main-menu > li > a.active, #navigation .navbar-inner #main-menu > li > a:hover {
  color: darken(white, 10%) !important;
  font-weight: bold;
}

@media(min-width: $screen-md-min) {
  .dropdown-menu .dropdown-menu {
    left: 100%;
    right: auto;
    top: 0;
    &:before, &:after {
      display: none !important;
    }
  }
}
